# =========================
# Gradle
# =========================
# Gradle
.gradle/
build/

# Ignore all of gradle EXCEPT wrapper
gradle/*
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Compiled classes
*.class

# Test output
test-results/

# Crash logs
hs_err_pid*
replay_pid*
