# =========================
# Gradle
# =========================
.gradle/
build/
gradle/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Compiled classes
*.class

# Test output
test-results/

# Crash logs
hs_err_pid*
replay_pid*
